<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products Page</title>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Products :: List</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="/sales/create-product">New Product</a></li><br />
            </ul>
        </nav>

        <main>
            <h2>Products List</h2>
            {% if product_list %}
            <table border=1>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                  {% for product in product_list %}
                    <tr>
                      <td>{{product.id}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.product_type}}</td>
                      <td>{{product.color}}</td>
                      <td>{{product.quantity}}</td>
                      <td>{{product.price}}</td>
                      <td>{{product.created_date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>    
            </table>
            {% else %}
                <p>No product on record.</p>
            {% endif %}
        </main>
        <footer>
            Copyright &copy; 2020 Ericka Clothing<br>
        </footer>
    </div>
</body>
</html>