
<!DOCTYPE html>
<html lang="en">
<head>
    <title>DELIVERIES</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script>
      
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div id="wrapper">
       <header>
        
            <h1>Deliveries</h1> 
            
        </header>
      
        <nav>
            <ul>                
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="contact.html">contact Us</a></li><br />
                
            </ul>
        </nav>
        
        <main>
              {% if delivery_list %}
              <table>

                <caption> <h2>Unfinished Deliveries</h2></caption>
              <thead>
                <tr>
                  <th>Order Id   </th>
                  <th>In-person Pickup?</th>
                  <th>Courier Name</th>
                  <th>Pickup Name</th>
                  <th>Ready from Date</th>

                </tr>
              </thead>
             <!-- <select id="myDropdown" onchange="filterContent();">-->
                <tbody>
                  {% for delivery in delivery_list %}
                    <tr>
                      <td>{{delivery.id}}</td>
                      <td>{{delivery.pickup_in_person}}</td>
                      <td>{{delivery.courier_name}}</td>
                      <td>{{delivery.pickup_name}}</td>
                      <td>{{delivery.created_date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
                <p>No pending deliveries on record.</p>
              {% endif %}
              

           

        </main>
        <footer>
            Copyright &copy; 2020 Ericka Clothing<br>
        </footer>
    </div>
</body>
</html>
