<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <title>
            Erick's Clothing Management System
        </title>
        <link rel="stylesheet" type="text/css" href="css/login.css">
    </head>
    <body>
        <div class="loginbox">
            <div class="loginHead">
                <img src="Images/Logo.png">
            </div>
            <div class="loginSection">
                <form action="Login.html" class="loginForm">
                    <h1>Login</h1>
                    <div class="loginInput">
                        <input placeholder="username" type="text" />
                    </div>
                    <div class="loginInput">
                        <input placeholder="Password" type = "Password" />
                    </div>
                    <div class="loginButton">
                        <button>login</button>
                    </div>
                </form>

            </div>
        </div>
    </body>
</html>