<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customers page</title>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Customers :: Add New</h1>
        </header>
        <nav>
            <ul>                
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="{% url 'sales:customer-list' %}">Customers List</a></li><br />
            </ul>
        </nav>
        
        <main>
            <h2>Add a new customer</h2>
            <h3>Information</h3>
            <form method="post"
                  action="/sales/create-customer/">
                {% csrf_token %}
                {{form}}
                <input type="Submit" value="Save" id="mySubmit" />
            </form>

        </main>
        <footer>
            Copyright &copy; 2020 Ky Oh<br>
            <a href="ohk@beloit.edu">ohk@beloit.edu</a>
        </footer>
    </div>
</body>
</html>
