<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customers page</title>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Customers :: List</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="{% url 'sales:create-customer' %}">New Customer</a></li><br />
            </ul>
        </nav>

        <main>
            <h2>Customers List</h2>
            {% if customer_list %}
              <table>

                <caption> <h2>Placed Orders</h2></caption>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>First name</th>
                  <th>Last Name   </th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th> 
                  <th>Date_Joined</th>
                </tr>
              </thead>
             <!-- <select id="myDropdown" onchange="filterContent();">-->
                <tbody>
                  {% for customer in customer_list %}
                    <tr>
                      <td>{{customer.id}}</td>
                      <td>{{customer.first_name}}</td>
                      <td>{{customer.last_name}}</td>
                      <td>{{customer.address}}</td>
                      <td>{{customer.email}}</td>
                      <td>{{customer.phone}}</td>
                      <td>{{customer.created_date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p>No customer listed.</p>
            {% endif %}
        </main>
        <footer>
            Copyright &copy; 2020 Ericka Clothing<br>
        </footer>
    </div>
</body>
</html>
