
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORDERS</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   
    <div id="wrapper">
      
       <header>
       
          <h1>Orders :: Add New</h1> 
         
        </header>
     
        <nav>
            <ul>                
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="{% url 'sales:order-list' %}">Orders </a></li><br />
                <li><a href="contact.html">contact Us </a></li><br />
            </ul>
        </nav>
        
        <main>
            <h2>Order Details</h2>
            
            {% if message %}
            <p>{{message}}</p>
            {% endif %}

            <form method="POST" 
                action="/sales/create-order/">
                {% csrf_token %}
                {% comment %} <lable>E-mail</lable><input type="text" name="email" id="mySubmit" placeholder=" Enter email"/>
                <lable>Product Name</lable> <input type="text" name="product" id="mySubmit" placeholder="Enter product" />
                <lable> Quantity</lable><input type="text" name="quantity" id="mySubmit" placeholder=" Enter quantity" />
                <lable>Comments</lable>
                <textarea name="myComments" id="mySubmit" cols="20" rows="2"></textarea>
                <input type="Submit" value="Save" id="mySubmit" /> {% endcomment %}
                {{form}}
                <input type="Submit" value="Save" id="mySubmit" />
            </form>

        </main>
        <footer>
            Copyright &copy; 2020 Ericka Clothing<br>
  
        </footer>
    </div>
</body>
</html>
