
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ORDERS</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script>
      
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div id="wrapper">
       <header>
        
            <h1>Orders List</h1> 
            
        </header>
      
        <nav>
            <ul>                
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li><br />
                <li><a href="{% url 'sales:create-order' %}">Add Orders</a></li><br />
                <li><a href="contact.html">contact Us</a></li><br />
                

            </ul>
        </nav>
        
        <main>
           
            
            <form method="GET"
                  action="/sales/order-list">
                  <label for="site_search">Search Orders:</label><input type="search" id="site_search" name="site_search"
                         aria-label="Search through site content">  </form>
              {% if order_list %}
              <table>

                <caption> <h2>Placed Orders</h2></caption>
              <thead>
                <tr>
                  <th>Product Id   </th>
                  <th>product Name   </th>
                  <th>Quantity</th>
                  <th>Customer_id</th>
                  <th>Status</th>
                  <th>Date</th>
                  {% comment %} <th>First Name</th>
                  <th>Last Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone</th> {% endcomment %}

                </tr>
              </thead>
             <!-- <select id="myDropdown" onchange="filterContent();">-->
                <tbody>
                  {% for order in order_list %}
                    <tr>
                      <td>{{order.id}}</td>
                      <td>{{order.product}}</td>
                      <td>{{order.quantity}}</td>
                      <td>{{order.customer}}</td>
                      <td>{{order.status}}</td>
                      <td>{{order.created_date}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
                <p>No orders on record.</p>
              {% endif %}
              

           

        </main>
        <footer>
            Copyright &copy; 2020 Ericka Clothing<br>
  
        </footer>
    </div>
</body>
</html>
